
body {
    background: radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%);
}

.carousel {
    margin-top: 50px;
}

.carousel-inner {
    width: 825px;
    margin: auto;
}

/*.img-wrapper {*/
/*    height: 535px;*/
/*}*/


.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}

.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.carousel-thumbnails .carousel-indicators li.active {
    border-bottom: 4px solid #fff;
}


a.chev, a.chev:link, a.chev.hover, a.chev:visited,
a.chev span, a.chev span:hover {
    transform: none;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 3.5em;
        margin-left: 30px;
    }

    .carousel {
        margin-top: 125px;
    }

    .carousel-inner {
        width: 300px;
        margin: auto;
    }

    /*.img-wrapper {*/
    /*    height: 200px;*/
    /*}*/

}
