
body {
    background: radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%);
}

#map {
    color: black;
}

#message-div {
    background-color: orange;
    border-radius: 10px;
    height: 10%;
    padding: 6px 15px;
}

#form-div.submitted {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 3.5em;
        margin-left: 30px;
    }

}
